---
apiVersion: v1
kind: Service
metadata:
  name: {{ project_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ project_name }}
spec:
  type: ClusterIP
  ports:
    - port: {{ service_port }}
      targetPort: {{ application_port }}
  selector:
    app: {{ project_name }}
