# 配置数据文件的保存目录
dbpath={{ mongodbDbPath }}
# 配置日志文件的保存目录
logpath={{ mongodbLogPath }}/mongodb.log
# 指定mongodb的端口（默认端口是27017）
port={{ mongodbPort }}
# 是否以保护进程运行 即后台运行
fork=true
# 监听所有端口
bind_ip_all=true
