apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ project_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ project_name }}
spec:
  template:
    metadata:
      labels:
        app: {{ project_name }}
    spec:
      containers:
      - image: docker.elastic.co/beats/filebeat:7.9.1
        args: [
          "-c", "/etc/filebeat.yml",
          "-e",
        ]
        imagePullPolicy: IfNotPresent
        name: filebeat
        volumeMounts:
        - name: app-logs
          mountPath: /log
        - name: filebeat-config
          mountPath: /etc/filebeat.yml
          subPath: filebeat.yml
      - name: {{ project_name }}
        image: {{ project_image }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: {{ application_port }}
        readinessProbe:
          initialDelaySeconds: 20
          periodSeconds: 5
          timeoutSeconds: 10
          httpGet:
            scheme: HTTP
            port: {{ application_port }}
            path: {{ project_name }}/keepalive/ping
        livenessProbe:
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          httpGet:
            scheme: HTTP
            port: {{ application_port }}
            path: {{ project_name }}/keepalive/ping
        volumeMounts:
        - name: app-logs
          mountPath: /data/log/opensource/pay/logs/{{ application_name }}
      volumes:
      - name: app-logs 
        emptyDir: {} 
      - name: filebeat-config
        configMap:
          name: {{ project_name }}-filebeat
  selector:
    matchLabels:
      app: {{ project_name }}
  replicas: 1
