---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ serviceAccountName }}
  namespace: {{ namespace }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ serviceAccountName }}-cluster-role
  namespace: {{ namespace }}
rules:
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "create", "delete"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch", "update"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create", "update", "patch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ serviceAccountName }}-cluster-role-binding
  namespace: {{ namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ serviceAccountName }}
    namespace: {{ namespace }}
roleRef:
  kind: ClusterRole
  name: {{ serviceAccountName }}-cluster-role
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ serviceAccountName }}-role
  namespace: {{ namespace }}
rules:
  - apiGroups: [""]
    resources: ["endpoints"]
    verbs: ["get", "list", "watch", "create", "update", "patch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ serviceAccountName }}-role-binding
  namespace: {{ namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ serviceAccountName }}
    namespace: {{ namespace }}
roleRef:
  kind: Role
  name: {{ serviceAccountName }}-role
  apiGroup: rbac.authorization.k8s.io
