[Unit]
Description=Redis persistent key-value database
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
ExecStart={{ redisDir }}/src/redis-server {{ redisDir }}/config/redis-{{ redisPort }}.conf --supervised systemd
ExecStop={{ redisDir }}/src/redis-cli -h {{ hostvars[inventory_hostname]['ansible_host'] }}  -p {{ redisPort }} shutdown
Type=forking
PIDFile=/var/run/redis_{{ redisPort }}.pid
User=root
Group=root
RuntimeDirectory=redis
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
